$size: 2rem;
$bg_color: red;

@mixin bounce($start: 0, $distnace: -30px) 
{ 0%, 20%, 50%, 80%, 100% 
  {transform: translateY($start);} 
    40% {transform: translateY($distnace);
    } 
    60% {transform: translateY($distnace/2);
    } 
} 

@keyframes bounce { 
@include bounce(0, -30px); 
} 

.bounce { 
animation-duration: 1s; 
animation-name: bounce; 
}



body {
   
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem auto;
    
    .ball {
        height: $size;
        width: $size;
        border-radius: $size;
        background-color: $bg_color;
        @include bounce (bounce infinite, 1s);
      
    }
}







